/ *
Nombre del tema: adminlte
URI del tema: https://wixan.cl
Autor: Carlos Cornejo
Autor URI: https://wixan.org/
Descripción: adminlte
Versión: 1.0
Licencia: General Public 
Dominio de texto: admin
Etiquetas: adminltetiqueta
Este tema, como WordPress, está licenciado bajo la GPL.
Úselo para hacer algo genial, divertirse y compartir lo que ha aprendido con otros.
* /
